html{
    background-color:white;
    margin:0px;
    padding:0px;
}
.content{
    border: 1px solid lightblue;
    height:240px;
    width:200px;
    justify-content: center;
    align-items: center;
    margin:auto;
    padding:30px;

}
.img{
    background-image: url(image-qr-code.png);
    height:50px;
    width:50px;
    align-items: center;

}